*.DS_Store
*.[bls]#[0-9]
*.o
*.d
*.swp
*.pyc
firmware/*.dfu
firmware/blinky-firmware.elf
firmware/blinky-firmware.hex
firmware/app-image.hex
bootloader/blinky-boot.elf
bootloader/blinky-boot.hex
bootloader/blinky-boot.bin
